<% function getZero(number) { if (number >= 1 && number <= 9) return "0" + number; else return number; }%>
<% function getFormattedDate(date) { return date.getFullYear()+"-"+getZero(date.getMonth())+"-"+getZero(date.getDate()); } %>
<script>$(document).ready(function() {
    $('#checkBoxReason').change(function() {
        if(this.checked) {
            $('#reason').prop("disabled", false);
        } else {
            $('#reason').prop("disabled", true);
        }     
    });
});</script>    
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="navbar-brand" href="/">Управление Баром</a>
            </li>
        </ul>
        <ul class="nav nav-pills justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/staff">Сотрудники</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="/position">Должности</a>
                </li>
        </ul>
    </nav>
    <br>
    <div class="container">
        <form id="add-pos" action="/position/new" method="POST" class="form-signin">
            <h2>Добавление должности</h2>
            <br>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Название" name="name" required>
            </div>
            <br>
            <div class="input-group">
                <input type="submit" , class="btn btn-lg btn-primary btn-block" value="ОК">
            </div>
            <br>
            <input type="hidden" name="_csrf" value="<%= _csrf %>">
        </form>
    </div>
    