<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="navbar-brand" href="/">Управление Баром</a>
        </li>
    </ul>
    <ul class="nav nav-pills justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="/staff">Сотрудники</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/position">Должности</a>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col" style="text-align:left"><div class="container justify-content-end">Действия</div></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <% result.forEach(function(position, i, arr) { %>
                    <th scope="row">
                        <%= position.id %>
                    </th>
                    <td>
                        <%= position.name %>
                    </td>
                    <td align="right">
                        <div class="container">
                            <a href="/position/edit/<%= position.id %>" class="btn btn-warning btn-block" value="Редактировать" style="max-width:200px">Редактировать</a>
                            <a href="/position/delete/<%= position.id %>" class="btn btn-danger btn-block" value="Удалить" style="max-width:200px">Удалить</a>
                        </div>
                    </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
    <br>
    <a href="/position/add" class="btn btn-success btn-block">Добавить</a>
</div>