<% function getZero(number) { if (number >= 1 && number <= 9) return "0" + number; else return number; }%>
<% function getFormattedDate(date) { return date.getFullYear()+"-"+getZero(date.getMonth())+"-"+getZero(date.getDate()); } %>
    <script>$(document).ready(function () {
            $('#checkBoxReason').change(function () {
                if (this.checked) {
                    $('#reason').prop("disabled", false);
                } else {
                    $('#reason').prop("disabled", true);
                }
            });
        });</script>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="navbar-brand" href="/goods">Управление товарами Бара</a>
            </li>
        </ul>
        <ul class="nav nav-pills justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" href="/goods">Товары</a>

                <li class="nav-item">
                    <a class="nav-link" href="/unit">Единицы измерения</a>
                </li>
        </ul>
    </nav>
    <br>
    <div class="container">
        <form id="ast-good" action="/provider/assortment/<%= provider.id %>/new" method="POST" class="form-signin">
            <h2>Добавление товара в ассортимент</h2>
            <br>
            <div class="input-group">
                    <select form="ast-good" name="id_goods" required>
                       <option selected disabled value="">Выберите товар</option>
                       <% result.forEach(function(good, i, arr) { %>
                           <option value="<%= good.id %>">
                               <%= good.name %>
                           </option>
                           <% }); %>
                   </select>
               </div>
               <br>
               <div class="input-group">
                    <input type="text" class="form-control" placeholder="Цена" name="price" required>
                </div>
                <br>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Условия доставки" name="cond" required>
            </div>
            <br>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Условия оплаты" name="payment" required>
            </div>
            <br>
            <div class="input-group">
                <input type="submit" , class="btn btn-lg btn-primary btn-block" value="ОК">
            </div>
            <br>
            <input type="hidden" name="_csrf" value="<%= _csrf %>">
        </form>
    </div>