<% function getZero(number) { if (number >= 1 && number <= 9) return "0" + number; else return number; }%>



    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="navbar-brand" href="/provider">Ассортимент товаров</a>
            </li>
        </ul>
       <ul class="nav nav-pills justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="/provider">Поставщики</a>
        </li>
    </ul>
    </nav>
    <div class="container-fluid">
        <br>
        <h2>Ассортимент поставщика <%= provider.name %></h2>
        <br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Наименование</th>
                    <th scope="col">Масса</th>
                    <th scope="col">Единица</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Условия доставки</th>
                    <th scope="col">Условия оплаты</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <% assortment.forEach(function(good, i, arr) { %>
                        <th scope="row">
                            <%= good.id %>
                        </th>
                        <td>
                            <%= good.name %>
                        </td>
                        <td>
                            <%= good.bulk %>
                        </td>
                        <td>
                            <%= good.uname %>
                        </td>
                        <td>
                            <%= good.price %> &#8381;
                        </td>
                        <td>
                            <%= good.cond %>
                        </td>
                        <td>
                                <%= good.payment %>
                        </td>
                        <td>
                            <a href="/provider/assortment/<%= provider.id %>/delete/<%= good.id %>" class="btn btn-danger btn-block" value="Удалить">Удалить</a>
                        </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <br>
        <a href="/provider/assortment/<%= provider.id %>/add/" class="btn btn-success btn-block">Добавить</a>
    </div>