<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="navbar-brand" href="/">Управление ИС Бара</a>
        </li>
    </ul>
    <ul class="nav nav-pills justify-content-end">
        <li class="nav-item">
            <a class="nav-link " href="/staff">Сотрудники</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/provider">Поставщики</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/goods">Управление товарами</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle justify-content-end" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">Выходные документы</a>
            <div class="dropdown-menu justify-content-end">
                <a class="dropdown-item justify-content-end" href="/gis/doc">Товары на складе</a>
                <a class="dropdown-item justify-content-end" href="/pricelist">Прайс-лист</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/drink">Напитки и закуски</a>
        </li>
    </ul>
</nav>