<% function getZero(number) { if (number >= 1 && number <= 9) return "0" + number; else return number; }%>
<% function getFormattedDate(date) { return date.getFullYear()+"-"+getZero(date.getMonth())+"-"+getZero(date.getDate()); } %>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="navbar-brand" href="/">Управление Баром</a>
            </li>
        </ul>
        <ul class="nav nav-pills justify-content-end">
            <li class="nav-item">
                <a class="nav-link " href="/drink">Напитки</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/snack">Закуски</a>
            </li>
        </ul>
    </nav>
    <br>
    <div class="container">
        <form id="add-drink" action="/snack/new" method="POST" class="form-signin">
            <h2>Добавление закуски</h2>
            <br>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Название" name="name" required>
            </div>
            <br>
            <div class="input-group">
                <input type="text" , class="form-control" , placeholder="Размер порции" name="portion" required>
            </div>
            <br>
            <h2>Добавление рецепта</h2>
            <br>
            <div class="input-group">
                <select form="add-drink" name="id_goods" class="goodChoice">
                    <option selected value="-1">Выберите ингридиент</option>
                    <% goods.forEach(function(good, i, arr) { %>
                        <option value="<%= good.id %>">
                            <%= good.name %>
                        </option>
                        <% }); %>
                </select>
            </div>
            <br>
            <div class="input-group">
                <input type="text" , class="form-control" , placeholder="Количество" name="count">
            </div>
            <br>
            <div class="input-group">
                <input type="submit" , class="btn btn-lg btn-primary btn-block" value="ОК">
            </div>
            <input type="hidden" name="_csrf" value="<%= _csrf %>">
        </form>
    </div>