<% function getZero(number) { if (number >= 1 && number <= 9) return "0" + number; else return number; }%>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="navbar-brand" href="/">Управление Баром</a>
        </li>
    </ul>
    <ul class="nav nav-pills justify-content-end">
        <li class="nav-item">
            <a class="nav-link " href="/drink">Напитки</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/snack">Закуски</a>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <br>
    <div class="container-fluid">
        <h2>Рецепт: <%= recipe[0].name %></h2>
        <br>
        <ul class="list-group">
                <% recipe.forEach(function(rec, i, arr) { %>
                     <% if(rec.id_drink != null) { %>
                        <li class="list-group-item">Напиток в составе: <%= rec.dr %></li>
                     <% } else { %>
                        <li class="list-group-item">Ингридиент: <%= rec.gname %></li>
                        <li class="list-group-item">Цена: <%= rec.price %></li>
                        <li class="list-group-item">Количество: <%= rec.quantity %></li>
                        <li class="list-group-item">Единица измерения: <%= rec.uname %></li>
                    <% } %>
                <% }); %>
        </ul>
    </div>
    
</div>