<div class="container-fluid">
    <br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Наименование</th>
                <th scope="col">Размер порции</th>
                <th scope="col">Ед. измерения</th>
                <th scope="col">Цена</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <% pricelist.forEach(function(good, i, arr) { %>
                    <th scope="row">
                        <%= good.id %>
                    </th>
                    <td>
                        <%= good.NAME %>
                    </td>
                    <td>
                        <%= good.PORTION %>
                    </td>
                    <td>
                        <%= good.uname %>
                    </td>
                    <td>
                        <%= good.price %>
                    </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
    <br>
    <br>
</div>
