<% function getZero(number) { if (number >= 1 && number <= 9) return "0" + number; else return number; }%>
    <% function getFormattedDate(date) { return date.getFullYear()+"-"+getZero(date.getMonth())+"-"+getZero(date.getDate()); } %>
        <script>$(document).ready(function () {
                $('#checkBoxReason').change(function () {
                    if (this.checked) {
                        $('#reason').prop("disabled", false);
                    } else {
                        $('#reason').prop("disabled", true);
                    }
                });
            });</script>
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="navbar-brand" href="/">Управление Баром</a>
                </li>
            </ul>
            <ul class="nav nav-pills justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" href="/provider">Поставщики</a>
                </li>
            </ul>
        </nav>
        <br>
        <div class="container">
            <form id="add-provider" action="/provider/new" method="POST" class="form-signin">
                <h2>Добавление поставщика</h2>
                <br>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Название" name="name" required>
                </div>
                <br>
                <div class="input-group">
                    <input type="text" , class="form-control" , placeholder="Почтовый адрес" name="postAdress" required>
                </div>
                <br>
                <div class="input-group">
                    <input type="text" , class="form-control" , placeholder="Телефон" name="phone" required>
                </div>
                <br>
                <div class="input-group">
                    <input type="text" , class="form-control" , placeholder="Факс" name="fax" required>
                </div>
                <br>
                <div class="input-group">
                    <input type="text" , class="form-control" , placeholder="E-Mail" name="email" required>
                </div>
                <br>
                <h2>Добавление реквизитов</h2>
                <br>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Наименование банка" name="bankName" required>
                </div>
                <br>
                <div class="input-group">
                    <input type="text" , class="form-control" , placeholder="Город" name="city" required>
                </div>
                <br>
                <div class="input-group">
                    <input type="text" , class="form-control" , placeholder="ИНН" name="INN" required>
                </div>
                <br>
                <div class="input-group">
                    <input type="text" , class="form-control" , placeholder="Счёт" name="payAccount" required>
                </div>
                <br>
                <div class="input-group">
                    <input type="submit" , class="btn btn-lg btn-primary btn-block" value="ОК">
                </div>
                <br>
                <input type="hidden" name="_csrf" value="<%= _csrf %>">
            </form>
        </div>