<% function getZero(number) { if (number >= 1 && number <= 9) return "0" + number; else return number; }%>
<% function getFormattedDate(date) { return date.getFullYear()+"-"+getZero(date.getMonth())+"-"+getZero(date.getDate()); } %>
<script>$(document).ready(function() {
    $('#checkBoxReason').change(function() {
        if(this.checked) {
            $('#reason').prop("disabled", false);
        } else {
            $('#reason').prop("disabled", true);
        }     
    });
});</script>    
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="navbar-brand" href="/">Управление Баром</a>
            </li>
        </ul>
        <ul class="nav nav-pills justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" href="/provider">Поставщики</a>
</li>
        </ul>
    </nav>
    <br>
    <div class="container">
        <form id="edit-provider" action="/provider/update/<%= provider.id %>" method="POST" class="form-signin">
            <h2>Редактирование поставщика</h2>
            <br>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Название" name="name" required value="<%= provider.name %>">
            </div>
            <br>
            <div class="input-group">
                <input type="text" , class="form-control" , placeholder="Почтовый адрес" name="postAdress" required value="<%= provider.postAdress %>">
            </div>
            <br>
            <div class="input-group">
                <input type="text" , class="form-control" , placeholder="Телефон" name="phone" required value="<%= provider.phone %>">
            </div>
            <br>
            <div class="input-group">
                <input type="text" , class="form-control" , placeholder="Факс" name="fax" required value="<%= provider.fax %>">
            </div>
            <br>
            <div class="input-group">
                <input type="text" , class="form-control" , placeholder="E-Mail" name="email" required value="<%= provider.email %>">
            </div>
            <br>
            <div class="input-group">
                <a href="/requisites/edit/<%= provider.id_requisites %>" class="btn btn-warning btn-block" value="Редактировать">Редактировать реквизиты</a>
            </div>
            <br>
            <div class="input-group">
                <input type="submit" , class="btn btn-lg btn-primary btn-block" value="ОК">
            </div>
            <br>
            <input type="hidden" name="_csrf" value="<%= _csrf %>">
        </form>
    </div>
    