<% function getZero(number) { if (number >= 1 && number <= 9) return "0" + number; else return number; }%>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="navbar-brand" href="/">Управление Баром</a>
            </li>
        </ul>
        <ul class="nav nav-pills justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" href="/provider">Поставщики</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название</th>
                    <th scope="col">Почтовый адрес</th>
                    <th scope="col">Телефон</th>
                    <th scope="col">Факс</th>
                    <th scope="col">E-Mail</th>
                    <th scope="col">Реквизиты</th>
                    <th scope="col">Ассортимент</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <% providers.forEach(function(provider, i, arr) { %>
                        <th scope="row">
                            <%= provider.id %>
                        </th>
                        <td>
                            <%= provider.name %>
                        </td>
                        <td>
                            <%= provider.postAdress %>
                        </td>
                        <td>
                            <%= provider.phone %>
                        </td>
                        <td>
                            <%= provider.fax %>
                        </td>
                        <td>
                            <%= provider.email %>
                        </td>
                        <td>
                            <a href="/requisites/<%= provider.id_requisites %>" class="btn btn-success btn-block">Смотреть</a>
                        </td>
                        <td>
                            <a href="/provider/assortment/<%= provider.id %>" class="btn btn-success btn-block">Смотреть</a>
                        </td>
                        <td>
                            <a href="/provider/edit/<%= provider.id %>" class="btn btn-warning btn-block" value="Редактировать">Редактировать</a>
                            <a href="/provider/delete/<%= provider.id %>" class="btn btn-danger btn-block" value="Удалить">Удалить</a>
                        </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <br>
        <a href="/provider/add" class="btn btn-success btn-block">Добавить</a>
    </div>