<% function getZero(number) { if (number >= 1 && number <= 9) return "0" + number; else return number; }%>



    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="navbar-brand" href="/">Управление Баром</a>
            </li>
        </ul>
        <ul class="nav nav-pills justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" href="/drink">Напитки</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/snack">Закуски</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Наименование</th>
                    <th scope="col">Крепость</th>
                    <th scope="col">Емкость для подачи</th>
                    <th scope="col">Размер порции</th>
                    <th scope="col">Рецепт</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <% drinks.forEach(function(drink, i, arr) { %>
                        <th scope="row">
                            <%= drink.id %>
                        </th>
                        <td>
                            <%= drink.name %>
                        </td>
                        <td>
                            <%= drink.degree %>&deg;
                        </td>
                        <td>
                            <%= drink.feedtank %>
                        </td>
                        <td>
                            <%= drink.portion %> литр(а)
                        </td>
                        <td>
                            <a href="/drink/recipe/<%= drink.id_recipe %>" class="btn btn-success btn-block" value="Смотреть">Смотреть</a>
                        </td>
                        <td>
                           <!--  <a href="/drink/edit/<%= drink.id %>" class="btn btn-warning btn-block" value="Редактировать">Редактировать</a> -->
                            <a href="/drink/delete/<%= drink.id %>" class="btn btn-danger btn-block" value="Удалить">Удалить</a>
                        </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <br>
        <a href="/drink/add" class="btn btn-success btn-block">Добавить</a>
        <br>
        <br>
    </div>