<% function getZero(number) { if (number >= 1 && number <= 9) return "0" + number; else return number; }%>



    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="navbar-brand" href="/">Управление Баром</a>
            </li>
        </ul>
        <ul class="nav nav-pills justify-content-end">
            <li class="nav-item">
                <a class="nav-link " href="/goods">Товары</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link active" href="/unit">Единицы измерения</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/gis">Товары на складе</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <% units.forEach(function(unit, i, arr) { %>
                        <th scope="row">
                            <%= unit.id %>
                        </th>
                        <td>
                            <%= unit.name %>
                        </td>
                        <td>
                            <a href="/unit/edit/<%= unit.id %>" class="btn btn-warning btn-block" style="max-width: 200px;" value="Редактировать">Редактировать</a>
                            <a href="/unit/delete/<%= unit.id %>" class="btn btn-danger btn-block" style="max-width: 200px;" value="Удалить">Удалить</a>
                        </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <br>
        <a href="/unit/add" class="btn btn-success btn-block">Добавить</a>
        <br>
        <br>
    </div>