<% function getZero(number) { if (number >= 1 && number <= 9) return "0" + number; else return number; }%>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="navbar-brand" href="/provider">Управление товарами и поставщиками</a>
        </li>
    </ul>
    <ul class="nav nav-pills justify-content-end">
        <li class="nav-item">
            <a class="navbar-brand" href="/">Управление Баром</a>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <br>
    <div class="container-fluid">
        <h2>Реквизиты поставщика <%= provider.name %></h2>
        <br>
        <ul class="list-group">
                <li class="list-group-item">Банк: <%= provider.bankName %></li>
                <li class="list-group-item">Город: <%= provider.city %></li>
                <li class="list-group-item">ИНН: <%= provider.INN %></li>
                <li class="list-group-item">Счёт: <%= provider.payAccount %></li>
        </ul>
        <br>
        <a href="/requisites/edit/<%= id %>" class="btn btn-warning btn-block" value="Редактировать" style="max-width:200px">Редактировать</a>
    </div>
    
</div>