<% function getZero(number) { if (number >= 1 && number <= 9) return "0" + number; else return number; }%>
<% function getFormattedDate(date) { return date.getFullYear()+"-"+getZero(date.getMonth())+"-"+getZero(date.getDate()); } %>
<script>$(document).ready(function() {
    $('#checkBoxReason').change(function() {
        if(this.checked) {
            $('#reason').prop("disabled", false);
        } else {
            $('#reason').prop("disabled", true);
        }     
    });
});</script>    
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="navbar-brand" href="/">Управление Баром</a>
            </li>
        </ul>
        <ul class="nav nav-pills justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" href="/staff">Сотрудники</a>

                <li class="nav-item">
                    <a class="nav-link" href="/position">Должности</a>
                </li>
        </ul>
    </nav>
    <br>
    <div class="container">
        <form id="add-staff" action="/staff/new" method="POST" class="form-signin">
            <h2>Добавление сотрудника</h2>
            <br>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Имя" name="firstName" required>
            </div>
            <br>
            <div class="input-group">
                <input type="text" , class="form-control" , placeholder="Фамилия" name="lastName" required>
            </div>
            <br>
            <div class="input-group">
                <input type="text" , class="form-control" , placeholder="Отчество" name="middleName" required>
            </div>
            <br>
            <div class="input-group">
                <input type="text" , class="form-control" , placeholder="Адрес" name="address" required>
            </div>
            <br>
            <div class="input-group">
                <input type="text" , class="form-control" , placeholder="Оклад" name="salary" required>
            </div>
            <br>
            <div class="input-group">
                <input type="date" , class="form-control" , placeholder="Дата рождения" name="birthDate" required>
            </div>
            <br>
            <div class="input-group">
                <select form="add-staff" name="id_position" required>
                    <option selected disabled value ="">Выберите должность</option>
                    <% result.forEach(function(pos, i, arr) { %>
                        <option value="<%= pos.id %>"><%= pos.name %></option>
                    <% }); %>
                </select>
            </div>
            <br>
            <div class="input-group">
                <input type="submit" , class="btn btn-lg btn-primary btn-block" value="ОК">
            </div>
            <br>
            <input type="hidden" name="_csrf" value="<%= _csrf %>">
        </form>
    </div>
    