<% function getZero(number) { if (number >= 1 && number <= 9) return "0" + number; else return number; }%>
    <% function getFormattedDate(date) { return date.getFullYear()+"-"+getZero(date.getMonth())+"-"+getZero(date.getDate()); } %>
    <script>$(document).ready(function() {
        $('#checkBoxReason').change(function() {
            if(this.checked) {
                $('#reason').prop("disabled", false);
            } else {
                $('#reason').prop("disabled", true);
            }     
        });
    });</script>    
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="navbar-brand" href="/">Управление Баром</a>
                </li>
            </ul>
            <ul class="nav nav-pills justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" href="/staff">Сотрудники</a>

                    <li class="nav-item">
                        <a class="nav-link" href="/position">Должности</a>
                    </li>
            </ul>
        </nav>
        <br>
        <div class="container">
            <form id="add-staff" action="/staff/update/<%= rawRes.id %>" method="POST" class="form-signin">
                <h2>Редактирование сотрудника</h2>
                <br>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Имя" name="firstName" required value="<%= rawRes.firstName %>">
                </div>
                <br>
                <div class="input-group">
                    <input type="text" , class="form-control" , placeholder="Фамилия" name="lastName" required value="<%= rawRes.lastName %>">
                </div>
                <br>
                <div class="input-group">
                    <input type="text" , class="form-control" , placeholder="Отчество" name="middleName" required value="<%= rawRes.middleName %>">
                </div>
                <br>
                <div class="input-group">
                    <input type="text" , class="form-control" , placeholder="Адрес" name="address" required value="<%= rawRes.adress %>">
                </div>
                <br>
                <div class="input-group">
                    <input type="text" , class="form-control" , placeholder="Оклад" name="salary" required value="<%= rawRes.salary %>">
                </div>
                <br>
                <div class="input-group">
                    <input type="date" , class="form-control" , placeholder="Дата рождения" name="birthDate" required value="<%= getFormattedDate(rawRes.birthDate) %>">
                    <% console.log(getFormattedDate(rawRes.birthDate)) %>
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">
                      <input type="checkbox" name="isChecked" id="checkBoxReason">
                    </span>
                    <input type="text" id="reason" class="form-control" name="reason" disabled placeholder="Добавить причину перевода">
                  </div>
                <br>
                <div class="input-group">
                    <select form="add-staff" name="id_position" required>
                        <% result.forEach(function(pos, i, arr) { %>
                            <% if(pos.name === rawRes.name) { %>
                                <option selected value="<%= pos.id %>">
                                    <%= pos.name %>
                                </option>
                                <% } else { %>
                                    <option value="<%= pos.id %>">
                                        <%= pos.name %>
                                    </option>
                                    <% }}); %>
                    </select>
                </div>
                <br>
                <div class="input-group">
                    <input type="submit" , class="btn btn-lg btn-primary btn-block" value="ОК">
                </div>
                <br>
                <input type="hidden" name="_csrf" value="<%= _csrf %>">
            </form>
        </div>
        