<% function getZero(number) { if (number >= 1 && number <= 9) return "0" + number; else return number; }%>



    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="navbar-brand" href="/">Управление Баром</a>
            </li>
        </ul>
        <ul class="nav nav-pills justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" href="/staff">Сотрудники</a>

                <li class="nav-item">
                    <a class="nav-link" href="/position">Должности</a>
                </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Отчество</th>
                    <th scope="col">Должность</th>
                    <th scope="col">Адрес</th>
                    <th scope="col">Дата Рождения</th>
                    <th scope="col">Оклад</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <% rawRes.forEach(function(staff, i, arr) { %>
                        <th scope="row">
                            <%= staff.id %>
                        </th>
                        <td>
                            <%= staff.firstName %>
                        </td>
                        <td>
                            <%= staff.lastName %>
                        </td>
                        <td>
                            <%= staff.middleName %>
                        </td>
                        <td>
                            <%= staff.name %>
                        </td>
                        <td>
                            <%= staff.adress %>
                        </td>
                        <td>
                            <%= getZero(staff.birthDate.getDate())+ "." + getZero(staff.birthDate.getMonth()) + "." + staff.birthDate.getFullYear() %>
                        </td>
                        <td>
                            <%= staff.salary %> &#8381;
                        </td>
                        <td>
                            <a href="/staff/edit/<%= staff.id %>" class="btn btn-warning btn-block" value="Редактировать">Редактировать</a>
                            <a href="/staff/delete/<%= staff.id %>" class="btn btn-danger btn-block" value="Удалить">Удалить</a>
                        </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <br>
        <a href="/staff/add" class="btn btn-success btn-block">Добавить</a>
    </div>