<script>$(document).ready(function () {
        $(".provider").change(function () {
            $(".provider option:selected").each(function () {
                var id = $(this).val();
                $(".goods").remove();
                $(".infog").remove();
                io.socket.get('/gis/assortment/' + id, function (resData) {
                    var res = resData;
                    //alert(JSON.stringify(resData)); // => {id:9, name: 'Timmy Mendez'}

                    $(".addgis").append('<div class="form-group goods"><select form="add-gis" name="id_goods" class="target optgoods" required></select></div>');

                    $(".optgoods").append('<option selected disabled value="">Выберите товар</option>');
                    res.forEach(function (good, i, arr) {
                        //alert(i + ": " + item + " (массив:" + arr + ")");
                        $(".optgoods").append('<option value = "' + good.id + '">' + good.name + '</option>');

                    });
                    $(".optgoods").change(function () {
                        $(".infog").remove();
                        var gid = $(this).val();
                        var oneGood;
                        $(".optgoods option:selected").each(function () {
                            res.forEach(function (good, i, arr) {
                                if (good.id == gid) {
                                    oneGood = good;
                                    return;
                                }
                            });
                        });
                        $(".addgis").append('<input class="form-control infog" type="text" placeholder="Масса: ' + oneGood.bulk + '" readonly><br class="infog">');
                        $(".addgis").append('<input class="form-control infog" type="text" placeholder="Единица: ' + oneGood.uname + '" readonly><br class="infog">');
                        $(".addgis").append('<input class="form-control infog" type="text" placeholder="Цена за единицу: ' + oneGood.price + ' &#8381; + 30%" readonly><br class="infog">');
                        $(".addgis").append('<input class="form-control infog" type="text" placeholder="Введите количество" name="quantity"><br class="infog">');
                        $(".addgis").append('<div class="input-group infog"><input type="submit" , class="btn btn-lg btn-primary btn-block" value="ОК"></div>');
                    });
                });
            });

        });
    });</script>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="navbar-brand" href="/">Управление Баром</a>
        </li>
    </ul>
    <ul class="nav nav-pills justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href="/goods">Товары</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/unit">Единицы измерения</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="/gis">Товары на складе</a>
        </li>
    </ul>
</nav>
<br>
<div class="container">
    <form id="add-gis" action="/gis/new" method="POST" class="addgis form-signin">
        <h2>Добавление товара на склад</h2>
        <br>
        <div class="input-group">
                <select form="add-gis" name="id_provider" class="target provider" required>
                    <option selected disabled value="">Выберите поставщика</option>
                    <% result.forEach(function(provider, i, arr) { %>
                        <option value="<%= provider.id %>">
                            <%= provider.name %>
                        </option>
                        <% }); %>
                </select>
        </div>
        <br>
        <div class="input-group">
            <input type="hidden" name="_csrf" value="<%= _csrf %>">
        </div>
    </form>
</div>