<script>$(document).ready(function () {
        var gid = <%= id %>;
        $(".provider").change(function () {
            $(".provider option:selected").each(function () {
                var pid = $(this).val();
                $(".goods").remove();
                $(".infog").remove();
                io.socket.get('/gis/edit/' + gid+'/getone/'+pid, function (resData) {
                    $(".addgis").append('<input class="form-control infog" type="text" placeholder="Наименование: ' + resData.good.name + '" readonly><br class="infog">');
                    $(".addgis").append('<input class="form-control infog" type="text" placeholder="Условия поставки: ' + resData.good.cond + '" readonly><br class="infog">');
                    $(".addgis").append('<input class="form-control infog" type="text" placeholder="Условия оплаты: ' + resData.good.payment + '" readonly><br class="infog">');
                    $(".addgis").append('<input class="form-control infog" type="text" placeholder="Цена за единицу: ' + resData.good.price + ' &#8381; + 30%" readonly><br class="infog">');
                    $(".addgis").append('<input class="form-control infog" type="text" placeholder="Введите количество" name="quantity"><br class="infog">');
                        $(".addgis").append('<div class="input-group infog"><input type="submit" , class="btn btn-lg btn-primary btn-block" value="ОК"></div>');
                });
            });
        });
    });
</script>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="navbar-brand" href="/">Управление Баром</a>
            </li>
        </ul>
        <ul class="nav nav-pills justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" href="/goods">Товары</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/unit">Единицы измерения</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/gis">Товары на складе</a>
            </li>
        </ul>
    </nav>
    <br>
    <div class="container">
        <form id="add-gis" action="/gis/new" method="POST" class="addgis form-signin">
            <h2>Добавление нового завоза на склад</h2>
            <br>
            <div class="input-group">
                    <select form="add-gis" name="id_provider" class="target provider" required>
                        <option selected disabled value="">Выберите поставщика</option>
                        <% providers.forEach(function(provider, i, arr) { %>
                            <option value="<%= provider.id_provider %>">
                                <%= provider.name %>
                            </option>
                            <% }); %>
                    </select>
            </div>
            <br>

            <div class="input-group">
                    <input type="hidden" name="id_good" value="<%= id %>">
            </div>
            <div class="input-group">
                <input type="hidden" name="_csrf" value="<%= _csrf %>">
            </div>
        </form>
    </div>