<script>
    $(document).ready(function () {
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var id = button.data('whatever') // Extract info from data-* attributes
            var modal = $(this);
            io.socket.get('/gis/count/' + id, function (resData) {
                if (!(resData.result.quantity == 0)) {
                    modal.find('.modal-body').text('На складе осталось еще ' + resData.result.quantity + ' единиц этого товара! Вы уверены?');
                }
                $('.modal-footer > .btn-danger').click(function () {
                    io.socket.get('/gis/delete/' + id, function (resp) {
                        if (resp.result == 1) {
                            modal.hide();
                            location.reload();
                        }
                    })
                });
            });
        });
    });
</script>


<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="navbar-brand" href="/">Управление Баром</a>
        </li>
    </ul>
    <ul class="nav nav-pills justify-content-end">
        <li class="nav-item">
            <a class="nav-link " href="/goods">Товары</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/unit">Единицы измерения</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link active" href="/gis">Товары на складе</a>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Наименование</th>
                <th scope="col">Масса</th>
                <th scope="col">Ед. измерения</th>
                <th scope="col">Количество</th>
                <th scope="col">СР.ВЗВЕШ. Цена</th>
                <th scope="col">Действия</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <% goods.forEach(function(good, i, arr) { %>
                    <th scope="row">
                        <%= good.id %>
                    </th>
                    <td>
                        <%= good.name %>
                    </td>
                    <td>
                        <%= good.bulk %>
                    </td>
                    <td>
                        <%= good.uname %>
                    </td>
                    <td>
                        <%= good.quantity %>
                    </td>
                    <td>
                        <%= good.awprice %>
                    </td>
                    <td>
                        <a href="/gis/edit/<%= good.id %>" class="btn btn-warning btn-block" value="Новый завов">Новый завов</a>
                        <!--  <a href="/gis/delete/<%= good.id %>" class="btn btn-danger btn-block" value="Удалить">Удалить</a> -->
                        <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#exampleModal" data-whatever="<%= good.id %>">Удалить</button>
                    </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
    <br>
    <a href="/gis/add" class="btn btn-success btn-block">Добавить новый товар на склад</a>
    <br>
    <br>
</div>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Предупреждение!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">На складе могут оставаться товары! Вы действительно уверены
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-danger">Удалить</button>
            </div>
        </div>
    </div>
</div>