
<div class="container-fluid">
    <br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Наименование</th>
                <th scope="col">Масса</th>
                <th scope="col">Ед. измерения</th>
                <th scope="col">Количество</th>
                <th scope="col">СР.ВЗВЕШ. Цена</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <% goods.forEach(function(good, i, arr) { %>
                    <th scope="row">
                        <%= good.id %>
                    </th>
                    <td>
                        <%= good.name %>
                    </td>
                    <td>
                        <%= good.bulk %>
                    </td>
                    <td>
                        <%= good.uname %>
                    </td>
                    <td>
                        <%= good.quantity %>
                    </td>
                    <td>
                        <%= good.awprice %>
                    </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
    <br>
</div>
