<% function getZero(number) { if (number >= 1 && number <= 9) return "0" + number; else return number; }%>
    <% function getFormattedDate(date) { return date.getFullYear()+"-"+getZero(date.getMonth())+"-"+getZero(date.getDate()); } %>
        <script>$(document).ready(function () {
                $('#checkBoxReason').change(function () {
                    if (this.checked) {
                        $('#reason').prop("disabled", false);
                    } else {
                        $('#reason').prop("disabled", true);
                    }
                });
            });</script>
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="navbar-brand" href="/">Управление Баром</a>
                    </li>
                </ul>
                <ul class="nav nav-pills justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active" href="/goods">Товары</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/unit">Единицы измерения</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/gis">Товары на складе</a>
                    </li>
                </ul>
            </nav>
        <br>
        <div class="container">
            <form id="edit-good" action="/goods/update/<%= good.id %>" method="POST" class="form-signin">
                <h2>Редактирование товара</h2>
                <br>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Название" name="name" required value="<%= good.name %>">
                </div>
                <br>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Масса" name="bulk" required value="<%= good.bulk %>">
                </div>
                <br>
                <div class="input-group">
                    <select form="edit-good" name="id_unit" required>
                        <% result.forEach(function(unit, i, arr) { %>
                            <% if(unit.name === good.uname) { %>
                                <option selected value="<%= unit.id %>">
                                    <%= unit.name %>
                                </option>
                                <% } else { %>
                                    <option value="<%= unit.id %>">
                                        <%= unit.name %>
                                    </option>
                                    <% }}); %>
                    </select>
                </div>
                <br>
                <div class="input-group">
                    <input type="submit" , class="btn btn-lg btn-primary btn-block" value="ОК">
                </div>
                <br>
                <input type="hidden" name="_csrf" value="<%= _csrf %>">
            </form>
        </div>